.ajax_form{
    text-align:center;
    width: 570px;
    padding: 10px;
    margin: 50px auto;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: #dedede #bababa #aaa #bababa;
    -moz-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    -webkit-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #f6f6f6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eae8e8));
    background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
    background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
    background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
    background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
    background-image: linear-gradient(top, #f6f6f6, #eae8e8);
}
.ajax_form #movie_title {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;
    font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 1px solid #ccc;
    -moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.ajax_form #movie_title:focus {
    outline: 0;
    border-color: #aaa;
    -moz-box-shadow: 0 1px 1px #bbb inset;
    -webkit-box-shadow: 0 1px 1px #bbb inset;
    box-shadow: 0 1px 1px #bbb inset;
}

.button{
    float: left;
    border: 1px solid #00748f;
    height: 42px;
    width: 100px;
    margin-left: 12px;
    padding: 0;
    cursor: pointer;
    /*font-family: 'Castoro', serif;*/
    font: bold 13px Verdana;
    color: #fafafa;
    text-transform: uppercase;
    border-radius: 5px;
}
#button_search{
    background-color: #0483a0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
    background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
    background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
    background-image: linear-gradient(top, #31b2c3, #0483a0);
}

#button_search:hover,
#button_search:focus {
    background-color: #31b2c3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0), to(#31b2c3));
    background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
    background-image: -moz-linear-gradient(top, #0483a0, #31b2c3);
    background-image: -ms-linear-gradient(top, #0483a0, #31b2c3);
    background-image: -o-linear-gradient(top, #0483a0, #31b2c3);
    background-image: linear-gradient(top, #0483a0, #31b2c3);
}

/*#button_search:active {
    outline: 0;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}*/

/*#button_search::-moz-focus-inner {
    border: 0;
}*/

#button_clear{
    background-color: #c31714;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c31714), to(#a00008));
    background-image: -webkit-linear-gradient(top, #c31714, #a00008);
    background-image: -moz-linear-gradient(top, #c31714, #a00008);
    background-image: -ms-linear-gradient(top, #c31714, #a00008);
    background-image: -o-linear-gradient(top, #c31714, #a00008);
    background-image: linear-gradient(top, #c31714, #a00008);
}

#button_clear:hover,
#button_clear:focus {
    background-color: #c31714;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a00008), to(#c31714));
    background-image: -webkit-linear-gradient(top, #a00008, #c31714);
    background-image: -moz-linear-gradient(top, #a00008, #c31714);
    background-image: -ms-linear-gradient(top, #a00008, #c31714);
    background-image: -o-linear-gradient(top, #a00008, #c31714);
    background-image: linear-gradient(top, #a00008, #c31714);
}

table {
    width: 590px;
    border-collapse: collapse;
    margin: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color: #686461;
    text-align: center;
}

caption {
    padding: 10px;
    color: white;
    background: #62d4ca;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

table thead tr {
    color: #ffffff;
    font-weight: bold;
    background: #00bf80;
}
table thead tr td {
    border: 1px solid #01ab73;
}
table tbody tr td {
    border: 1px solid #62d4ca;
}
table tbody tr:nth-child(2n) {
    background: #f4f4f4;
}
table tbody tr:hover {
    background: #ebffe8;
}
